<meta charset="UTF8">
<script src="https://unpkg.com/vue"></script>

<div id="app">

    <!-- usando div, ela vai ficar no DOM -->
    <!-- se eu usar template nao, serve apenas como um AGRUPADOR -->
    <!-- Pra isso é melhor usar TEMPLATE invés da DIV -->

    <!-- TEMPLATE é um Recurso do HTML 5 -->

    <template v-if="isLogado">
        <p>Perfil: Admin</p>
        <p>Usuario logado: {{nome}}</p>
    </template>
    <div v-if="isLogado">
        <p>Perfil: Admin</p>
        <p>Usuario logado: {{nome}}</p>
    </div>
    <p v-else-if="anonimo">Usuario anonimo</p>
    <p v-else>Nenhum usuário logado.</p>
    <button @click="isLogado = !isLogado">{{isLogado ? 'Sair' : 'Entrar'}}</button>
    <p>Logado? {{isLogado ? 'Sim' : 'Não'}}</p>
    <p>Anonimo {{anonimo}}</p>
    <input type="checkbox" v-model="anonimo"> Usuario Anônimo? </input>
    <hr>
    <!-- diferentemente do v-if, q remove o objeto da DOM -->
    <!-- o 'v-show' torna VISIBLE or INVISIBLE, mantendo o objeto na DOM-->
    <footer v-show="isLogado">
        Desenvolvido pra voce que está LOGADO
    </footer>
    <footer v-show="!isLogado">
        Desenvolvido pra vc que é DESCONHECIDO
    </footer>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Maria",
            isLogado: false,
            anonimo: true,
        }
    })
</script>


<style>
    #app {
        margin: 20 20 20 20;
        font-size: 20px;
    }
</style>