<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <!-- life-bar será a borda fundo branco-->
                <div class="life-bar">
                    <!-- life será uma borda preenchida (progresso)-->
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife+'%'}">
                    </div>
                </div>
                <div class="perc">
                    {{playerLife}}%
                </div>
            </div>
            <div class="score">
                <!-- MOSTRO -->
                <h1>Monstro</h1>
                <!-- life-bar será a borda fundo branco-->
                <div class="life-bar">
                    <!-- life será uma borda preenchida (progresso)-->
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}">

                    </div>
                </div>
                <div class="perc">
                    {{monsterLife}}%
                </div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result" :class="[{ganhou: monsterLife==0, perdeu:playerLife==0}]">
            {{resultado}}
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button @click="attack(false)" class="btn attack">Ataque</button>
                <button @click="attack(true)"  class="btn special-attack">Ataque Especial</button>
                <button @click="healAndHurt" class="btn heal">Curar</button>
                <button @click="giveUp" class="btn give-up">Desistir</button>
            </template>
            <button v-else @click="startGame" class="btn new-game">Iniciar</button>
        </div>
        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs"
                :class="log.classe"
                 class="log"> {{log.texto}} </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>